/* =========== COMMON STYLES =========== */
ul, 
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}
/* =========== HEADER STYLES =========== */
.page-logo {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

/* =========== /HEADER STYLES =========== */



/* =========== HERO STYLES =========== */


/* =========== /
HERO STYLES =========== */